{"swagger": "2.0", "info": {"title": "TiknetAfrica API", "description": "API pour TiknetAfrica", "version": "v1"}, "host": "api.tiknetafrica.com", "schemes": ["https"], "basePath": "/v1", "consumes": ["application/json"], "produces": ["application/json"], "securityDefinitions": {"Bearer": {"type": "apiKey", "name": "Authorization", "in": "header", "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer <your_token>\""}}, "security": [{"Bearer": []}], "paths": {"/admin/customers/list/": {"get": {"operationId": "admin_customers_list_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/customers/paginate-list/": {"get": {"operationId": "admin_customers_paginate-list_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/customers/{username}/": {"get": {"operationId": "admin_customers_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Customer"}}}, "tags": ["admin"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/admin/customers/{username}/enable-or-disable/": {"put": {"operationId": "admin_customers_enable-or-disable_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_customers_enable-or-disable_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}}, "tags": ["admin"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/admin/dashboard/": {"get": {"operationId": "admin_dashboard_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/login/": {"post": {"operationId": "admin_login_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminTokenObtainPair"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/AdminTokenObtainPair"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/partners/list/": {"get": {"operationId": "admin_partners_list_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/partners/paginate-list/": {"get": {"operationId": "admin_partners_paginate-list_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/partners/{username}/": {"get": {"operationId": "admin_partners_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Partner"}}}, "tags": ["admin"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/admin/partners/{username}/enable-or-disable/": {"put": {"operationId": "admin_partners_enable-or-disable_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_partners_enable-or-disable_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/AdminActivateOrDeactivateUser"}}}, "tags": ["admin"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/admin/partners/{username}/update-status/": {"patch": {"operationId": "admin_partners_update-status_partial_update", "summary": "Met à jour le statut d’un partenaire", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdatePartnerStatus"}}, {"name": "username", "in": "path", "description": "Nom d'utilisateur du partenaire à mettre à jour", "required": true, "type": "string"}], "responses": {"200": {"description": "Status updated successfully"}, "400": {"description": "Invalid status"}, "404": {"description": "Partner not found"}}, "tags": ["Admin - Partner"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/admin/permissions/create/": {"post": {"operationId": "admin_permissions_create_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Permission"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/permissions/list/": {"get": {"operationId": "admin_permissions_list_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Permission"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/permissions/{slug}/": {"get": {"operationId": "admin_permissions_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/permissions/{slug}/delete/": {"delete": {"operationId": "admin_permissions_delete_delete", "summary": "Supprimer une permission", "description": "Supprime une permission du système à partir de son **slug** (réservé au Super Administrateur).", "parameters": [{"name": "slug", "in": "path", "description": "Slug de la permission à supprimer", "required": true, "type": "string", "example": "can-create-user"}], "responses": {"200": {"description": "Permission supprimée avec succès"}, "403": {"description": "Accès refusé"}, "404": {"description": "Permission introuvable"}}, "tags": ["Admin - Permissions"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/permissions/{slug}/update/": {"put": {"operationId": "admin_permissions_update_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Permission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_permissions_update_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Permission"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Permission"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/profile/": {"get": {"operationId": "admin_profile_list", "description": "Retourne les informations du profil de l'utilisateur connecté.\nVérifie le token JWT à chaque appel.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["admin"]}, "parameters": []}, "/admin/subscription-features/create/": {"post": {"operationId": "admin_subscription-features_create_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionFeature"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionFeature"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/subscription-features/list/": {"get": {"operationId": "admin_subscription-features_list_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SubscriptionFeature"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/subscription-features/{slug}/": {"get": {"operationId": "admin_subscription-features_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionFeature"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/subscription-features/{slug}/delete/": {"delete": {"operationId": "admin_subscription-features_delete_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/subscription-features/{slug}/update/": {"put": {"operationId": "admin_subscription-features_update_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionFeature"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionFeature"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_subscription-features_update_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionFeature"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionFeature"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/subscription-plans/create/": {"post": {"operationId": "admin_subscription-plans_create_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionPlan"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionPlan"}}}, "tags": ["admin"]}, "parameters": []}, "/admin/subscription-plans/list/": {"get": {"operationId": "admin_subscription-plans_list_list", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SubscriptionPlan"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/subscription-plans/{slug}/": {"get": {"operationId": "admin_subscription-plans_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionPlan"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/subscription-plans/{slug}/delete/": {"delete": {"operationId": "admin_subscription-plans_delete_delete", "description": "", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/subscription-plans/{slug}/update/": {"put": {"operationId": "admin_subscription-plans_update_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionPlan"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_subscription-plans_update_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SubscriptionPlan"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/SubscriptionPlan"}}}, "tags": ["admin"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string", "format": "slug", "pattern": "^[-a-zA-Z0-9_]+$"}]}, "/admin/wallet/all-transactions/": {"get": {"operationId": "admin_wallet_all-transactions_list", "summary": "Récupère toutes les transactions des partner sans filtre ni tri pour le super user.", "description": "Retourne la liste complète des transactions des partenaire connecté, avec les totaux calculés (montant total, revenus, paiements).", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletTransaction"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/wallet/transactions/paginate-list/": {"get": {"operationId": "admin_wallet_transactions_paginate-list_list", "summary": "Récupère toutes les transactions avec filtres, tri, recherche et pagination (SuperAdmin).", "description": "Retourne la liste complète des transactions avec filtres (statut, type, modèle, période), tri, recherche et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche (référence, utilisateur, email, type...)", "type": "string"}, {"name": "status", "in": "query", "description": "Filtrer par status (success/pending/failed)", "type": "string"}, {"name": "type", "in": "query", "description": "Filtrer par type (revenue/payout)", "type": "string"}, {"name": "model_type", "in": "query", "description": "Filtrer par modèle lié (withdrawalrequest, plan, additionaldevice...)", "type": "string"}, {"name": "period", "in": "query", "description": "Période (today/this_week/this_month/this_year)", "type": "string"}, {"name": "start_date", "in": "query", "description": "Date de début (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "Date de fin (YYYY-MM-DD)", "type": "string"}, {"name": "sort", "in": "query", "description": "Tri (amount_asc / amount_desc / created_desc)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletTransaction"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/wallet/transactions/payouts/paginate-list/": {"get": {"operationId": "admin_wallet_transactions_payouts_paginate-list_list", "summary": "Récupère toutes les transactions avec filtres, tri, recherche et pagination (SuperAdmin).", "description": "Retourne la liste complète des transactions avec filtres (statut, type, modèle, période), tri, recherche et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche (référence, utilisateur, email, type...)", "type": "string"}, {"name": "status", "in": "query", "description": "Filtrer par status (success/pending/failed)", "type": "string"}, {"name": "model_type", "in": "query", "description": "Filtrer par modèle lié (withdrawalrequest, plan...)", "type": "string"}, {"name": "period", "in": "query", "description": "Période (today/this_week/this_month/this_year)", "type": "string"}, {"name": "start_date", "in": "query", "description": "Date de début (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "Date de fin (YYYY-MM-DD)", "type": "string"}, {"name": "sort", "in": "query", "description": "Tri (amount_asc / amount_desc / created_desc)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletPayoutsTransaction"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/wallet/transactions/revenues/paginate-list/": {"get": {"operationId": "admin_wallet_transactions_revenues_paginate-list_list", "summary": "Récupère toutes les transactions avec filtres, tri, recherche et pagination (SuperAdmin).", "description": "Retourne la liste complète des transactions avec filtres (statut, type, modèle, période), tri, recherche et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche (référence, utilisateur, email, type...)", "type": "string"}, {"name": "status", "in": "query", "description": "Filtrer par status (success/pending/failed)", "type": "string"}, {"name": "model_type", "in": "query", "description": "Filtrer par modèle lié (withdrawalrequest, plan...)", "type": "string"}, {"name": "period", "in": "query", "description": "Période (today/this_week/this_month/this_year)", "type": "string"}, {"name": "start_date", "in": "query", "description": "Date de début (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "Date de fin (YYYY-MM-DD)", "type": "string"}, {"name": "sort", "in": "query", "description": "Tri (amount_asc / amount_desc / created_desc)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletRevenusTransaction"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/withdrawls/paginate-list/": {"get": {"operationId": "admin_withdrawls_paginate-list_list", "summary": "Récupère la liste des demandes de retraits (SuperAdmin).", "description": "Retourne la liste des demandes de retraits avec recherche, filtres, tri et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche (reference, partner, email...)", "type": "string"}, {"name": "status", "in": "query", "description": "Filtrer par statut (pending, approved, rejected, completed)", "type": "string"}, {"name": "period", "in": "query", "description": "Période (today, this_week, this_month, this_year)", "type": "string"}, {"name": "start_date", "in": "query", "description": "Date de début (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "Date de fin (YYYY-MM-DD)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WithdrawalRequest"}}}}, "tags": ["admin"]}, "parameters": []}, "/admin/withdrawls/{reference}/": {"get": {"operationId": "admin_withdrawls_read", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/WithdrawalRequest"}}}, "tags": ["admin"]}, "parameters": [{"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/admin/withdrawls/{reference}/update-status/": {"put": {"operationId": "admin_withdrawls_update-status_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateWithdrawalRequestStatus"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UpdateWithdrawalRequestStatus"}}}, "tags": ["admin"]}, "patch": {"operationId": "admin_withdrawls_update-status_partial_update", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdateWithdrawalRequestStatus"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UpdateWithdrawalRequestStatus"}}}, "tags": ["admin"]}, "parameters": [{"name": "reference", "in": "path", "required": true, "type": "string"}]}, "/auth/me/": {"get": {"operationId": "auth_me_list", "description": "Retourne les informations du profil de l'utilisateur connecté.\nVérifie le token JWT à chaque appel.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["auth"]}, "parameters": []}, "/customer/activate-internet/": {"post": {"operationId": "customer_activate-internet_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/check-active-connexion/": {"get": {"operationId": "customer_check-active-connexion_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/check-active-plan/": {"get": {"operationId": "customer_check-active-plan_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/default-router-plans/": {"get": {"operationId": "customer_default-router-plans_list", "description": "Récupère les plans pour le router par défaut de l'utilisateur connecté.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/exchange-rate/": {"get": {"operationId": "customer_exchange-rate_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/plans/{slug}/detail/": {"get": {"operationId": "customer_plans_detail_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/customer/profile/": {"get": {"operationId": "customer_profile_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/profile/update/": {"put": {"operationId": "customer_profile_update_update", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/purchase-additional-device/": {"post": {"operationId": "customer_purchase-additional-device_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/purchase-plan/": {"post": {"operationId": "customer_purchase-plan_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/radius-data/": {"get": {"operationId": "customer_radius-data_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/radius-plans/": {"get": {"operationId": "customer_radius-plans_list", "description": "Récupère la liste des plans associés à l'utilisateur authentifié depuis la table user_plans.", "parameters": [], "responses": {"200": {"description": "Plans récupérés avec succès", "schema": {"type": "object", "properties": {"status_code": {"description": "Code HTTP de la réponse", "type": "integer"}, "error": {"description": "Indique si une erreur s'est produite", "type": "boolean"}, "message": {"description": "Message descriptif", "type": "string"}, "data": {"type": "object", "properties": {"username": {"description": "Nom d'utilisateur", "type": "string"}, "plans": {"type": "array", "items": {"type": "object", "properties": {"username": {"description": "Nom d'utilisateur", "type": "string"}, "plan_name": {"description": "Nom du plan", "type": "string"}, "purchase_date": {"description": "Date d'achat du plan", "type": "string", "format": "date-time"}, "validity_duration": {"description": "Durée de validité (ex: '24h', '30d')", "type": "string"}, "status": {"description": "Statut du plan ('pending', 'is_on_use', 'is_expired')", "type": "string"}}}}}}}}, "examples": {"application/json": {"status_code": 200, "error": false, "message": "Customer plans retrieved successfully.", "data": {"username": "tabbee_c56a9f13", "plans": [{"username": "tabbee_c56a9f13", "plan_name": "1 Mois - 10GB", "purchase_date": "2025-07-27T23:49:54.974562+00:00", "validity_duration": "30d", "status": "pending"}, {"username": "tabbee_c56a9f13", "plan_name": "1 Semaine - 6 Go", "purchase_date": "2025-07-27T23:13:47.630199+00:00", "validity_duration": "7d", "status": "pending"}]}}}}, "400": {"description": "Erreur: aucun nom d'utilisateur associé", "examples": {"application/json": {"status_code": 400, "error": true, "message": "No username associated with this user."}}}, "404": {"description": "Erreur: aucun plan trouvé pour l'utilisateur", "examples": {"application/json": {"status_code": 404, "error": true, "message": "No plans found for this user.", "data": {"username": "tabbee_c56a9f13"}}}}, "500": {"description": "Erreur interne du serveur", "examples": {"application/json": {"status_code": 500, "error": true, "message": "Internal server error.", "exception": "Erreur inattendue"}}}}, "tags": ["customer"], "security": [{"Bearer": []}]}, "parameters": []}, "/customer/register/": {"post": {"operationId": "customer_register_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomerRegister"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomerRegister"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/remaining-time/": {"get": {"operationId": "customer_remaining-time_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/resend-otp/": {"post": {"operationId": "customer_resend-otp_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/resend-verify-email-otp/": {"post": {"operationId": "customer_resend-verify-email-otp_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/roaming-plans/": {"get": {"operationId": "customer_roaming-plans_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/roaming-plans/{slug}/": {"get": {"operationId": "customer_roaming-plans_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/customer/router-plans/": {"get": {"operationId": "customer_router-plans_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/router-plans/{slug}/": {"get": {"operationId": "customer_router-plans_read", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/customer/signin/": {"post": {"operationId": "customer_signin_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomerSignIn"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomerSignIn"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/token/": {"post": {"operationId": "customer_token_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/CustomerTokenObtainPair"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/CustomerTokenObtainPair"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/token/refresh/": {"post": {"operationId": "customer_token_refresh_create", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/TokenRefresh"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/TokenRefresh"}}}, "tags": ["customer"]}, "parameters": []}, "/customer/transactions/": {"get": {"operationId": "customer_transactions_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/verify-device/": {"post": {"operationId": "customer_verify-device_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/customer/verify-email-otp/": {"post": {"operationId": "customer_verify-email-otp_create", "description": "", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["customer"]}, "parameters": []}, "/partner/additional-devices/create/": {"post": {"operationId": "partner_additional-devices_create_create", "summary": "Création de additional device", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer une option de addtional device.\n\n**Paramètre requis :**\n- `value (integer)` : Le nombre d'appareil supplémentaire\n- `price (string)` : Le prix", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AdditionalDevice"}}], "responses": {"201": {"description": "Additional device créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Additional Device"]}, "parameters": []}, "/partner/additional-devices/list/": {"get": {"operationId": "partner_additional-devices_list_list", "summary": "Récupère la liste des options de additional device.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de additional device.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Additional Device"]}, "parameters": []}, "/partner/additional-devices/{id}/": {"get": {"operationId": "partner_additional-devices_read", "summary": "Récupérer une option de additional device", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de additional device spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de additional device récupérée avec succès", "schema": {"$ref": "#/definitions/ValidityOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Additional Device"]}, "put": {"operationId": "partner_additional-devices_update", "summary": "Modifier complètement une option de additional device", "description": "Permet de **mettre à jour tous les champs** d’une option de additional device associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidityOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Additional Device"]}, "patch": {"operationId": "partner_additional-devices_partial_update", "summary": "Modifier partiellement une option de additional device", "description": "Permet de mettre à jour **seulement certains champs** d’une option de additional device du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidityOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Additional Device"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/additional-devices/{id}/delete/": {"delete": {"operationId": "partner_additional-devices_delete_delete", "summary": "Supprime une option de additional device.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de additional device.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Additional Device"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/assign-plan/": {"post": {"operationId": "partner_assign-plan_create", "summary": "Assigner un plan", "description": "Permet d'assigner un plan.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": []}, "/partner/assigned-plans/": {"get": {"operationId": "partner_assigned-plans_list", "summary": "Récupere la liste des plans assignés à des customers", "description": "Permet de récupérer la liste des plans à des customers.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": []}, "/partner/collaborators/create/": {"post": {"operationId": "partner_collaborators_create_create", "summary": "Ajouter un collaborateur", "description": "Cette API Permet à un **Partenaire** ou à un **Collaborateur** ayant la permission `setting-access` d'ajouter un nouveau collaborateur. Une fois les informations saisies, un **code OTP de vérification** est envoyé par email. Le partenaire devra ensuite confirmer son inscription avec ce code avant d’activer son compte.\n\n### ⚙️ Champs requis :\n- `first_name (string)` : Prénom du partenaire\n- `email (string)` : Adresse e-mail unique du partenaire\n- `phone (string)` : Numéro de téléphone (avec indicatif, ex. `+22890112233`)\n- `addresse (string)` : Adresse complète (optionnelle)\n- `city (string)` : Ville (optionnelle)\n- `country (string)` : Nom ou code du pays (exemples : `TG` ou `Togo`)\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PartnerCollaboratorRegister"}}], "responses": {"201": {"description": "Collaborateur créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Collaborators"]}, "parameters": []}, "/partner/collaborators/list/": {"get": {"operationId": "partner_collaborators_list_list", "summary": "Récupère la liste des collaborateurs.", "description": "Permet à un **Partenaire** de récupérer la liste des collaborateurs", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Collaborators"]}, "parameters": []}, "/partner/collaborators/{username}/assign-role/": {"post": {"operationId": "partner_collaborators_assign-role_create", "summary": "Assigner un rôle à un collaborateur", "description": "\nCette API permet à un partenaire d’assigner un rôle à un collaborateur existant.\nLe rôle doit appartenir au même partenaire.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["role_id"], "type": "object", "properties": {"role_id": {"description": "ID du rôle à assigner au collaborateur", "type": "integer"}}}}, {"name": "username", "in": "path", "description": "Nom d'utilisateur du collaborateur", "required": true, "type": "string"}], "responses": {"200": {"description": "Rôle assigné avec succès"}, "400": {"description": "Requête invalide"}, "403": {"description": "Accès refusé"}, "404": {"description": "Collaborateur ou rôle non trouvé"}}, "tags": ["Partner - Collaborators"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/collaborators/{username}/delete/": {"delete": {"operationId": "partner_collaborators_delete_delete", "summary": "Supprimer un collaborateur", "description": "\nCette API permet à un partenaire de supprimer un collaborateur existant associé à son compte.\nLe collaborateur sera supprimé de la base de données.\n", "parameters": [{"name": "username", "in": "path", "description": "Nom d'utilisateur du collaborateur à supprimer", "required": true, "type": "string"}], "responses": {"200": {"description": "Collaborateur supprimé avec succès"}, "403": {"description": "Accès refusé"}, "404": {"description": "Collaborateur non trouvé ou non associé"}}, "tags": ["Partner - Collaborators"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/collaborators/{username}/update-role/": {"put": {"operationId": "partner_collaborators_update-role_update", "summary": "Mettre à jour le rôle d’un collaborateur", "description": "\nCette API permet à un partenaire de modifier le rôle d’un collaborateur déjà existant.\nLe nouveau rôle doit appartenir au même partenaire.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["role_id"], "type": "object", "properties": {"role_id": {"description": "ID du nouveau rôle à assigner", "type": "integer"}}}}, {"name": "username", "in": "path", "description": "Nom d'utilisateur du collaborateur", "required": true, "type": "string"}], "responses": {"200": {"description": "Rôle mis à jour avec succès"}, "400": {"description": "Requête invalide"}, "403": {"description": "Accès refusé"}, "404": {"description": "Collaborateur ou rôle non trouvé"}}, "tags": ["Partner - Collaborators"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/customers/list/": {"get": {"operationId": "partner_customers_list_list", "summary": "Lister tous les customers du partenaire", "description": "Retourne la liste complète des customers associés au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Liste récupérée"}, "403": {"description": "Aucun partner trouvé ou accès refusé"}}, "tags": ["Partner - Customers"]}, "parameters": []}, "/partner/customers/paginate-list/": {"get": {"operationId": "partner_customers_paginate-list_list", "summary": "Liste paginée des customers", "description": "Recherche et retourne la liste paginée des customers associés au partenaire connecté.", "parameters": [{"name": "page", "in": "query", "description": "Numéro de la page à récupérer", "required": false, "type": "integer", "example": 1}, {"name": "search", "in": "query", "description": "Texte à rechercher (nom, email, téléphone)", "required": false, "type": "string", "example": "john"}], "responses": {"200": {"description": "Liste paginée récupérée"}, "403": {"description": "Aucun partner trouvé ou accès refusé"}}, "tags": ["Partner - Customers"]}, "parameters": []}, "/partner/customers/{username}/block-or-unblock/": {"put": {"operationId": "partner_customers_block-or-unblock_update", "summary": "Bloque ou débloque un customer du partner connecté", "description": "Permet de bloquer (blocked=true) ou débloquer (blocked=false) un customer du partner connecté.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["blocked"], "type": "object", "properties": {"blocked": {"description": "true pour bloquer, false pour débloquer", "type": "boolean"}}}}, {"name": "username", "in": "path", "description": "Nom d'utilisateur du customer à bloquer/débloquer", "required": true, "type": "string"}], "responses": {"200": {"description": "", "schema": {"required": ["blocked"], "type": "object", "properties": {"blocked": {"description": "true pour bloquer, false pour débloquer", "type": "boolean"}}}}}, "tags": ["Partner - Customers"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/customers/{username}/data-usage/": {"get": {"operationId": "partner_customers_data-usage_list", "summary": "Récupérer les données consommées par un customer", "description": "Permet à un **Partenaire** ou un **Administrateur disposant de la permission `setting-access`** de récupérer la quantité totale de données (upload + download) consommées par un utilisateur Radius dans la table `radacct`.\n\n**Paramètre requis :**\n- `username` : Nom d’utilisateur Radius", "parameters": [{"name": "username", "in": "path", "description": "Nom d’utilisateur du customer (dans la base Radius)", "required": true, "type": "string"}], "responses": {"200": {"description": "Données d’utilisation récupérées avec succès"}, "404": {"description": "Utilisateur non trouvé ou sans session"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Customers"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/customers/{username}/transactions/": {"get": {"operationId": "partner_customers_transactions_list", "summary": "Récupère les transactions d’un client spécifique", "description": "Cette API permet au partenaire connecté de **récupérer la liste des transactions** de type `revenue` pour un **client spécifique** (identifié par son `username`).\n\n**Filtres disponibles :**\n- `search`: référence, statut, montant...\n- `status`: success / pending / failed\n- `period`: today / this_week / this_month / this_year\n- `start_date` et `end_date`\n\n**Réponse :** Retourne les transactions du client, avec pagination et totaux.", "parameters": [{"name": "username", "in": "path", "description": "Nom d’utilisateur (username) du client dont on veut les transactions", "required": true, "type": "string", "example": "client_2025"}, {"name": "search", "in": "query", "description": "Recherche (référence, statut, montant...)", "type": "string"}, {"name": "status", "in": "query", "description": "Filtrer par status (success/pending/failed)", "type": "string"}, {"name": "period", "in": "query", "description": "Période (today/this_week/this_month/this_year)", "type": "string"}, {"name": "start_date", "in": "query", "description": "Date de début (YYYY-MM-DD)", "type": "string"}, {"name": "end_date", "in": "query", "description": "Date de fin (YYYY-MM-DD)", "type": "string"}, {"name": "sort", "in": "query", "description": "Tri : amount_asc / amount_desc / date (défaut)", "type": "string"}], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletTransaction"}}}}, "tags": ["Partner - Customers"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/dashboard/": {"get": {"operationId": "partner_dashboard_list", "summary": "Récupère les données pour le dashboard", "description": "Permet de récupérer les données pour le dashboard.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Dashboard"]}, "parameters": []}, "/partner/data-limit/create/": {"post": {"operationId": "partner_data-limit_create_create", "summary": "Création d'une option de data limit", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer une option de data limit.\n\n**Paramètre requis :**\n- `value (integer)` : Valeur de data limit (Ex: 1GB, 500MO, etc.)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DataLimitOption"}}], "responses": {"201": {"description": "Option de data limit créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Data Limit"]}, "parameters": []}, "/partner/data-limit/list/": {"get": {"operationId": "partner_data-limit_list_list", "summary": "Récupère la liste des options de data limit.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de data limit.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Data Limit"]}, "parameters": []}, "/partner/data-limit/{id}/": {"get": {"operationId": "partner_data-limit_read", "summary": "Récupérer une option de data limit", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de data limit spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de data limit récupérée avec succès", "schema": {"$ref": "#/definitions/DataLimitOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Data Limit"]}, "put": {"operationId": "partner_data-limit_update", "summary": "Modifier complètement une option de data limit", "description": "Permet de **mettre à jour tous les champs** d’une option de data limit associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DataLimitOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Data Limit"]}, "patch": {"operationId": "partner_data-limit_partial_update", "summary": "Modifier partiellement une option de data limit", "description": "Permet de mettre à jour **seulement certains champs** d’une option de data limit du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DataLimitOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Data Limit"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/data-limit/{id}/delete/": {"delete": {"operationId": "partner_data-limit_delete_delete", "summary": "Supprime une option de data limit.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de data limit.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Data Limit"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/exchange-rate/": {"get": {"operationId": "partner_exchange-rate_list", "description": "", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["partner"]}, "parameters": []}, "/partner/hotspot/profiles/create/": {"post": {"operationId": "partner_hotspot_profiles_create_create", "summary": "Création d'un hotspot profile", "description": "Permet de créér un hotspot profile.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HotspotProfile"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/HotspotProfile"}}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": []}, "/partner/hotspot/profiles/list/": {"get": {"operationId": "partner_hotspot_profiles_list_list", "summary": "Récupere la liste des hotspot profiles", "description": "Permet de récupérer la liste des hotspot profiles du partner.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": []}, "/partner/hotspot/profiles/paginate-list/": {"get": {"operationId": "partner_hotspot_profiles_paginate-list_list", "summary": "Récupere la liste paginée des hotspot profiles", "description": "Permet de récupérer la liste paginée des hotspot profiles du partner.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": []}, "/partner/hotspot/profiles/{profile_slug}/delete/": {"delete": {"operationId": "partner_hotspot_profiles_delete_delete", "summary": "Supprimer un hotspot profile", "description": "Permet de supprimer un hotspot profile.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": [{"name": "profile_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/hotspot/profiles/{profile_slug}/detail/": {"get": {"operationId": "partner_hotspot_profiles_detail_list", "summary": "Récupere un hotspot profile", "description": "Permet de récupérer un hotspot profile.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": [{"name": "profile_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/hotspot/profiles/{profile_slug}/update/": {"put": {"operationId": "partner_hotspot_profiles_update_update", "summary": "Modifier un hotspot profile", "description": "Permet de modifier un hotspot profile appartenant au partenaire connecté.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HotspotProfile"}}, {"name": "profile_slug", "in": "path", "description": "Slug du hotspot profile à modifier", "required": true, "type": "string", "example": "basic-1h"}], "responses": {"200": {"description": "Profil mis à jour"}, "400": {"description": "Données invalides"}, "404": {"description": "Profil non trouvé"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Hotspot Profile"]}, "parameters": [{"name": "profile_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/hotspot/users/create/": {"post": {"operationId": "partner_hotspot_users_create_create", "summary": "Création d'un hotspot user", "description": "Permet de créér un hotspot user.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HotspotUser"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/HotspotUser"}}}, "tags": ["Partner - Hotspot User"]}, "parameters": []}, "/partner/hotspot/users/paginate-list/": {"get": {"operationId": "partner_hotspot_users_paginate-list_list", "summary": "Liste des Hotspot users", "description": "Retourne la liste des utilisateurs Hotspot liés au partenaire connecté avec recherche et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche par nom du client ou nom du profil", "required": false, "type": "string", "example": "basic"}, {"name": "page", "in": "query", "description": "Numéro de la page", "required": false, "type": "integer", "example": 1}], "responses": {"200": {"description": "Liste paginée des Hotspot users"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Hotspot User"]}, "parameters": []}, "/partner/hotspot/users/{id}/delete/": {"delete": {"operationId": "partner_hotspot_users_delete_delete", "summary": "Supprimer un hotspot user", "description": "Permet de supprimer un hotspot user.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Hotspot User"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/hotspot/users/{username}/read/": {"get": {"operationId": "partner_hotspot_users_read_list", "summary": "Récupere un hotspot user", "description": "Permet de récupérer un hotspot user.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Hotspot User"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/hotspot/users/{username}/update/": {"put": {"operationId": "partner_hotspot_users_update_update", "summary": "Modifier un hotspot user", "description": "Permet de modifier un hotspot user appartenant au partenaire connecté.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/HotspotUser"}}, {"name": "username", "in": "path", "description": "Nom d'utilisateur du hotspot user à modifier", "required": true, "type": "string", "example": "basic-1h"}], "responses": {"200": {"description": "User mis à jour"}, "400": {"description": "Données invalides"}, "404": {"description": "Profil non trouvé"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Hotspot User"]}, "parameters": [{"name": "username", "in": "path", "required": true, "type": "string"}]}, "/partner/idle-timeout/create/": {"post": {"operationId": "partner_idle-timeout_create_create", "summary": "Création d'un Idle timeout", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer un Idle timeout.\n\n**Paramètre requis :**\n- `value (integer)` :Valeur de la durée (Ex: 5m, 10m)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IdleTimeoutOption"}}], "responses": {"201": {"description": "Idle timeout créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Idle Timeout"]}, "parameters": []}, "/partner/idle-timeout/list/": {"get": {"operationId": "partner_idle-timeout_list_list", "summary": "Récupère la liste des options de idle timeout.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de idle timeout.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Idle Timeout"]}, "parameters": []}, "/partner/idle-timeout/{id}/": {"get": {"operationId": "partner_idle-timeout_read", "summary": "Récupérer une option de idle timeout", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de idle timeout spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de idle timeout récupérée avec succès", "schema": {"$ref": "#/definitions/IdleTimeoutOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Idle Timeout"]}, "put": {"operationId": "partner_idle-timeout_update", "summary": "Modifier complètement une option de idle timeout", "description": "Permet de **mettre à jour tous les champs** d’une option de idle timeout associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IdleTimeoutOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Idle Timeout"]}, "patch": {"operationId": "partner_idle-timeout_partial_update", "summary": "Modifier partiellement une option de idle timeout", "description": "Permet de mettre à jour **seulement certains champs** d’une option de idle timeout du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/IdleTimeoutOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Idle Timeout"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/idle-timeout/{id}/delete/": {"delete": {"operationId": "partner_idle-timeout_delete_delete", "summary": "Supprime une option de idle timeout.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de idle timeout.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Idle Timeout"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/login/": {"post": {"operationId": "partner_login_create", "summary": "Authentification de partner.", "description": "Permet à un **Partenaire** ou à un **Administrateur** de se connecter", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/MyTokenObtainPair"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/MyTokenObtainPair"}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/password-reset/request-otp/": {"post": {"operationId": "partner_password-reset_request-otp_create", "summary": "(Mot de passe oublié) Renvoyer un nouveau code OTP pour la réinitialisation du mot de passe (Partner/Collaborator)", "description": "\nCette API permet de renvoyer un **nouveau code OTP** pour la réinitialisation\ndu mot de passe d’un partenaire ou collaborateur ayant déjà demandé un OTP.\n\nL'API :\n- invalide tous les anciens OTP encore valides\n- génère un nouvel OTP\n- envoie un nouvel email avec le nouveau code\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PartnerPasswordResetOTPRequest"}}], "responses": {"200": {"description": "Nouveau code OTP envoyé."}, "404": {"description": "Utilisateur introuvable."}, "500": {"description": "Échec de l'envoi du code OTP."}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/password-reset/resend-request-otp/": {"post": {"operationId": "partner_password-reset_resend-request-otp_create", "summary": "(Mot de passe oublié) Demande de code otp pour la réinitialisation du mot de passe (Partner/Collaborator)", "description": "\nCette API permet à un utilisateur (partenaire ou collaborateur)\nde demander un code otp pour la réinitialisation du mot de passe en fournissant son addresse email.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PartnerPasswordResetOTPRequest"}}], "responses": {"200": {"description": "Code OTP envoyé à votre email."}, "500": {"description": "Échec de l'envoi du code OTP."}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/password-reset/update-password/": {"post": {"operationId": "partner_password-reset_update-password_create", "summary": "Reinitialiser le mot de passe (Partner/Collaborator)", "description": "\nCette API permet à un utilisateur (partenaire ou collaborateur)\nde réinitialiser son mot de passe en fournissant après avoir fait la vérification par code otp en fournissant le token un nouveau mot de passe.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PartnerResetPassword"}}], "responses": {"200": {"description": "Mot de passe réinitialiser avec succès."}, "401": {"description": "Token invalide ou expiré."}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/password-reset/verify-otp/": {"post": {"operationId": "partner_password-reset_verify-otp_create", "summary": "Vérifier code otp pour la réinitialisation du mot de passe (Partner/Collaborator)", "description": "\nCette API permet à un utilisateur (partenaire ou collaborateur)\nde vérifier code otp pour la réinitialisation du mot de passe en fournissant code otp reçu par mail.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PartnerPasswordResetOtpCodeVerify"}}], "responses": {"200": {"description": "Code OTP vérifié avec succès."}, "400": {"description": "Code invalide ou expiré."}, "404": {"description": "OTP non trouvé ou user invalide."}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/password/update/": {"post": {"operationId": "partner_password_update_create", "summary": "Changer le mot de passe (Partner/Collaborator)", "description": "\nCette API permet à un utilisateur connecté (partenaire ou collaborateur)\nde modifier son mot de passe en fournissant l'ancien mot de passe et le nouveau.\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["old_password", "new_password"], "type": "object", "properties": {"old_password": {"description": "Ancien mot de passe", "type": "string"}, "new_password": {"description": "Nouveau mot de passe", "type": "string"}}}}], "responses": {"200": {"description": "Mot de passe modifié avec succès."}, "400": {"description": "Ancien mot de passe incorrect."}, "403": {"description": "Non autorisé (doit être partenaire ou collaborateur)."}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/payment-methods/create/": {"post": {"operationId": "partner_payment-methods_create_create", "summary": "Créer une méthode de paiement pour le partenaire", "description": "Permet à un **Partenaire** ou à un **Collaborateur** ayant la permission `setting-access` de créer une méthode de paiement liée à son compte partenaire.\n\n**Champs à renseigner :**\n- `name (string)` : Nom de la méthode de paiement. (Ex: Mobile money, Bank card, Flooz, Ecobank...\n- `numbers (string)` : Numéro de téléphone ou numéro de compte\n- `description (string)` *(facultatif)*\n", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentMethod"}}], "responses": {"201": {"description": "Méthode de paiement créée avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Payment Methods"]}, "parameters": []}, "/partner/payment-methods/list/": {"get": {"operationId": "partner_payment-methods_list_list", "summary": "Lister les methodes de paiement du partenaire connecté", "description": "Retourne la liste complète des méthodes de paiement créées par le partenaire connecté.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/PaymentMethod"}}}}, "tags": ["Partner - Payment Methods"]}, "parameters": []}, "/partner/payment-methods/{slug}/": {"get": {"operationId": "partner_payment-methods_read", "summary": "Afficher une méthode de paiement du partenaire connecté", "description": "", "parameters": [{"name": "slug", "in": "path", "description": "Slug unique de la méthode de paiement", "required": true, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentMethod"}}}, "tags": ["Partner - Payment Methods"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/payment-methods/{slug}/delete/": {"delete": {"operationId": "partner_payment-methods_delete_delete", "summary": "Supprimer une methode de paiement du partenaire connecté", "description": "Supprime une methode de paiement appartenant au partenaire connecté.", "parameters": [{"name": "slug", "in": "path", "description": "Slug de la methode de paiement à supprimer", "required": true, "type": "string", "example": "mobile-money"}], "responses": {"200": {"description": "Methode de paiement supprimé avec succès"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}, "404": {"description": "Methode de paiement non trouvé"}}, "tags": ["Partner - Payment Methods"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/payment-methods/{slug}/update/": {"put": {"operationId": "partner_payment-methods_update_update", "summary": "Mettre à jour une méthode de paiement du partenaire connecté", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentMethod"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentMethod"}}}, "tags": ["Partner - Payment Methods"]}, "patch": {"operationId": "partner_payment-methods_update_partial_update", "summary": "Mise à jour partielle d'une méthode de paiement", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PaymentMethod"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/PaymentMethod"}}}, "tags": ["Partner - Payment Methods"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/permissions/list/": {"get": {"operationId": "partner_permissions_list_list", "summary": "Lister toutes les permissions", "description": "Retourne la liste complète des permissions du système. Accessible uniquement au Super Administrateur.", "parameters": [], "responses": {"200": {"description": "Liste des permissions", "examples": {"application/json": {"statusCode": 200, "error": false, "message": "Permissions retrieved successfully.", "data": [{"id": 1, "name": "can_create_user", "slug": "can-create-user", "description": "Peut créer un utilisateur", "is_actif": true}], "exception": ""}}}}, "tags": ["Partner - Permissions"]}, "parameters": []}, "/partner/plans/": {"get": {"operationId": "partner_plans_list", "summary": "Récupere la liste des plans", "description": "Permet de récupérer la liste des plans du partner.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": []}, "/partner/plans/create/": {"post": {"operationId": "partner_plans_create_create", "summary": "Création d'un plan", "description": "Permet de créér un plan.", "parameters": [], "responses": {"201": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": []}, "/partner/plans/{plan_slug}/delete/": {"delete": {"operationId": "partner_plans_delete_delete", "summary": "Supprimer un plan", "description": "Permet de supprimer un plan.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": [{"name": "plan_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/plans/{plan_slug}/read/": {"get": {"operationId": "partner_plans_read_list", "summary": "Récupere un plan", "description": "Permet de récupérer un plan.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": [{"name": "plan_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/plans/{plan_slug}/update/": {"put": {"operationId": "partner_plans_update_update", "summary": "Modifier un plan", "description": "Permet de modifier un plan.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Plan"]}, "parameters": [{"name": "plan_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/profile/": {"get": {"operationId": "partner_profile_list", "summary": "Profile de partner.", "description": "Permet à un **Partenaire** de récupérer son profil", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/profile/update/": {"put": {"operationId": "partner_profile_update_update", "summary": "Modification du profil du partner", "description": "Permet à un **Partenaire** de modifier son profil", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdatePartner"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UpdatePartner"}}}, "tags": ["Partner - Auth"]}, "patch": {"operationId": "partner_profile_update_partial_update", "summary": "Modification du profil du partner", "description": "Permet à un **Partenaire** de modifier son profil", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/UpdatePartner"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/UpdatePartner"}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/rate-limit/create/": {"post": {"operationId": "partner_rate-limit_create_create", "summary": "Création d'une option de rate limit", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer une option de rate limit.\n\n**Paramètre requis :**\n- `value (integer)` : Valeur de rate limit (Ex: 2M/2M (Download/Upload))", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RateLimitOption"}}], "responses": {"201": {"description": "Option de rate limit créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Rate Limit"]}, "parameters": []}, "/partner/rate-limit/list/": {"get": {"operationId": "partner_rate-limit_list_list", "summary": "Récupère la liste des options de rate limit.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de rate limit.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Rate Limit"]}, "parameters": []}, "/partner/rate-limit/{id}/": {"get": {"operationId": "partner_rate-limit_read", "summary": "Récupérer une option de rate limit", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de rate limit spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de rate limit récupérée avec succès", "schema": {"$ref": "#/definitions/RateLimitOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Rate Limit"]}, "put": {"operationId": "partner_rate-limit_update", "summary": "Modifier complètement une option de rate limit", "description": "Permet de **mettre à jour tous les champs** d’une option de rate limit associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RateLimitOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Rate Limit"]}, "patch": {"operationId": "partner_rate-limit_partial_update", "summary": "Modifier partiellement une option de rate limit", "description": "Permet de mettre à jour **seulement certains champs** d’une option de rate limit du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/RateLimitOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Rate Limit"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/rate-limit/{id}/delete/": {"delete": {"operationId": "partner_rate-limit_delete_delete", "summary": "Supprime une option de rate limit.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de rate limit.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Rate Limit"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/register-confirm/": {"post": {"operationId": "partner_register-confirm_create", "summary": "Confirmer l’inscription d’un partenaire via le code OTP", "description": "Permet à un utilisateur ayant initié une inscription partenaire de **valider son compte** en fournissant le code OTP reçu par email.\n\nUne fois le code confirmé :\n- Un compte utilisateur complet est créé (avec le rôle de partenaire).\n- L’adresse email est marquée comme vérifiée (`is_email_verified=True`).\n- Un jeton JWT (access & refresh) est généré pour l’authentification.\n\n**Étapes préalables :**\n1️⃣ Appeler `/v1/partner/register/` pour initialiser l’inscription et recevoir un code OTP par email.\n2️⃣ Appeler cette route `/v1/partner/register/confirm/` avec `email` et `code` pour finaliser l’inscription.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["email", "code"], "type": "object", "properties": {"email": {"description": "Email utilisé lors de l'inscription", "type": "string", "format": "email", "example": "john@gmail.com"}, "code": {"description": "Code OTP reçu par email (6 chiffres)", "type": "string", "example": "482913"}}}}], "responses": {"200": {"description": "Inscription confirmée avec succès. L'utilisateur reçoit ses jetons JWT.", "examples": {"application/json": {"error": false, "message": "Inscription confirmée avec succès. Bienvenue !", "data": {"access": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1...", "refresh": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1...", "email": "saad@gmail.com"}}}}, "400": {"description": "Erreur - OTP invalide ou inscription inexistante.", "examples": {"application/json": {"error": true, "message": "Code OTP invalide ou expiré."}}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/register/": {"post": {"operationId": "partner_register_create", "summary": "Initialiser une inscription partenaire", "description": "Cette API permet à un **nouveau partenaire** de s’enregistrer pour la première fois. Une fois les informations saisies, un **code OTP de vérification** est envoyé par email. Le partenaire devra ensuite confirmer son inscription avec ce code avant d’activer son compte.\n\n### ⚙️ Champs requis :\n- `first_name` : Prénom du partenaire\n- `email` : Adresse e-mail unique du partenaire\n- `phone` : Numéro de téléphone (avec indicatif, ex. `+22890112233`)\n- `addresse` : Adresse complète (optionnelle)\n- `city` : Ville\n- `country` : Nom ou code du pays (exemples : `TG` ou `Togo`)\n- `entreprise_name` : Nom de l’entreprise\n- `number_of_router` : Nombre de routeurs prévus (par défaut 1)\n- `password` et `password2` : Doivent être identiques et respecter les contraintes de sécurité.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["first_name", "email", "phone", "city", "country", "entreprise_name", "password", "password2"], "type": "object", "properties": {"first_name": {"type": "string", "example": "John"}, "email": {"type": "string", "format": "email", "example": "john@gmail.com"}, "phone": {"type": "string", "example": "+22890112233"}, "addresse": {"type": "string", "example": "Amoutiévé"}, "city": {"type": "string", "example": "Lomé"}, "country": {"description": "Nom ou code ISO du pays (ex : 'TG' pour Togo, 'BJ' pour Bénin, 'FR' pour France).", "type": "string", "example": "TG"}, "entreprise_name": {"type": "string", "example": "John Business"}, "number_of_router": {"type": "integer", "example": 1}, "password": {"type": "string"}, "password2": {"type": "string"}}}}], "responses": {"200": {"description": "Code de vérification envoyé avec succès.", "examples": {"application/json": {"error": false, "message": "A verification code has been sent to your email address.", "data": {"email": "john@gmail.com"}}}}, "400": {"description": "Erreur de validation (email déjà utilisé, pays invalide, ou mots de passe différents).", "examples": {"application/json": {"error": true, "message": "Validation error.", "details": {"email": ["This email is already in use."]}}}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/resend-verify-email-otp/": {"post": {"operationId": "partner_resend-verify-email-otp_create", "summary": "Renvoi du code otp pour la verification de l' addresse email de partner.", "description": "Permet à un **Partenaire** ou à un **Administrateur** de recevoir un nouveau code otp par mail pour la vérification de l'adresse email.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ResendVerifyEmailOtp"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/ResendVerifyEmailOtp"}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/roles/create/": {"post": {"operationId": "partner_roles_create_create", "summary": "Créer un rôle pour le partenaire connecté", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer un rôle automatiquement associé à son compte partenaire.\n\n**Champs à renseigner :**\n- `name (string)` : Nom du rôle\n- `description (string)` *(facultatif)* : Description du rôle\n- `permissions (integers)` : Liste des IDs des permissions actives\n- `actif` : Booléen indiquant si le rôle est actif", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"201": {"description": "Rôle créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Roles"]}, "parameters": []}, "/partner/roles/list/": {"get": {"operationId": "partner_roles_list_list", "summary": "Lister les rôles du partenaire connecté", "description": "", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Role"}}}}, "tags": ["Partner - Roles"]}, "parameters": []}, "/partner/roles/{slug}/": {"get": {"operationId": "partner_roles_read", "summary": "Afficher un rôle du partenaire connecté", "description": "", "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["Partner - Roles"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/roles/{slug}/delete/": {"delete": {"operationId": "partner_roles_delete_delete", "summary": "Supprimer un rôle du partenaire connecté", "description": "Supprime un rôle appartenant au partenaire connecté.", "parameters": [{"name": "slug", "in": "path", "description": "Slug du rôle à supprimer", "required": true, "type": "string", "example": "manager"}], "responses": {"200": {"description": "Rôle supprimé avec succès"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}, "404": {"description": "Rôle non trouvé"}}, "tags": ["Partner - Roles"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/roles/{slug}/update/": {"put": {"operationId": "partner_roles_update_update", "summary": "Mettre à jour un rôle du partenaire", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["Partner - Roles"]}, "patch": {"operationId": "partner_roles_update_partial_update", "summary": "Mise à jour partielle d'un rôle", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/Role"}}], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Role"}}}, "tags": ["Partner - Roles"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers-add/": {"post": {"operationId": "partner_routers-add_create", "summary": "Ajouter un nouveau router pour le partenaire", "description": "", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/AddRouter"}}], "responses": {"201": {"description": "Router ajouté avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Router"]}, "parameters": []}, "/partner/routers/list/": {"get": {"operationId": "partner_routers_list_list", "summary": "Récupere la liste des routers", "description": "Permet de récupérer la liste des router du partner.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Router"]}, "parameters": []}, "/partner/routers/{router_id}/delete/": {"delete": {"operationId": "partner_routers_delete_delete", "summary": "Supprimer un router", "description": "Permet de supprimer un router du partner.", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "router_id", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{router_slug}/details/": {"get": {"operationId": "partner_routers_details_list", "summary": "Récupère un router", "description": "Retourne le router du partner.", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "router_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{router_slug}/update/": {"put": {"operationId": "partner_routers_update_update", "summary": "Modifier un router", "description": "Permet de modifier un router appartenant au partner connecté.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"description": "Champs pouvant être modifiés", "required": [], "type": "object", "properties": {"name": {"type": "string"}, "dns_name": {"type": "string"}, "ip_address": {"type": "string"}}}}, {"name": "router_slug", "in": "path", "description": "Slug du router à modifier", "required": true, "type": "string"}], "responses": {"200": {"description": "Router mis à jour"}, "400": {"description": "Erreur de validation | DNS déjà existant"}, "403": {"description": "Partner non trouvé ou accès refusé"}, "404": {"description": "Router introuvable"}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "router_slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{slug}/active-users/": {"get": {"operationId": "partner_routers_active-users_list", "summary": "👥 Récupérer les utilisateurs actifs", "description": "Cette API retourne tous les utilisateurs actuellement connectés à un routeur MikroTik associé au partenaire.\n\nElle inclut les utilisateurs Hotspot et PPP avec leur IP, MAC, trafic consommé et uptime.", "parameters": [{"name": "slug", "in": "path", "description": "Slug unique du routeur à interroger", "required": true, "type": "string", "example": "tiknet-africa-router"}], "responses": {"200": {"description": "Liste des utilisateurs actifs", "examples": {"application/json": {"statusCode": 200, "error": false, "message": "Active users retrieved successfully from Tiknet Africa.", "data": [{"service": "hotspot", "user": "john_doe", "ip": "10.0.0.50", "mac": "AA:BB:CC:DD:EE:FF", "uptime": "1h23m45s", "bytes_in": 123456, "bytes_out": 654321}], "exception": ""}}}, "403": {"description": "Aucun partenaire trouvé ou accès refusé"}, "404": {"description": "Routeur introuvable ou non associé"}, "500": {"description": "Erreur interne lors de la récupération des utilisateurs"}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{slug}/hotspots/restart/": {"post": {"operationId": "partner_routers_hotspots_restart_create", "summary": "🔁 Redémarrer les Hotspots d’un routeur", "description": "Cette API permet de **redémarrer tous les services Hotspot** d’un routeur MikroTik associé au partenaire actuellement connecté.\n\nElle vérifie les permissions et l’association du routeur avant d’effectuer l’opération.\n\n**Réponse de succès :**\n- Nom du routeur\n- Adresse IP\n- Liste des hotspots redémarrés\n- Date et heure du redémarrage", "parameters": [{"name": "slug", "in": "path", "description": "Slug unique du routeur à redémarrer", "required": true, "type": "string", "example": "tiknet-africa-router"}], "responses": {"200": {"description": "Hotspots redémarrés avec succès", "examples": {"application/json": {"statusCode": 200, "error": false, "message": "Hotspot(s) redémarré(s) avec succès sur Tiknet Africa.", "data": {"router_name": "Tiknet Africa", "ip_address": "10.0.0.2", "hotspots_restarted": ["hotspot1", "hotspot2"], "count": 2, "restarted_at": "2025-11-04T10:55:34.412Z"}, "exception": ""}}}, "403": {"description": "Aucun partenaire trouvé ou accès refusé"}, "404": {"description": "Routeur introuvable ou non associé"}, "500": {"description": "Erreur interne ou échec du redémarrage"}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{slug}/reboot/": {"post": {"operationId": "partner_routers_reboot_create", "summary": "🔄 Redémarrer un routeur MikroTik", "description": "Cette API permet de redémarrer un routeur MikroTik associé au partenaire connecté. Le routeur est identifié par son **slug** passé dans l'URL. Le partenaire doit avoir les permissions nécessaires (`setting-access`).\n\nRéponse de succès :\n```json\n{\n  \"error\": false,\n  \"message\": \"Redémarrage du routeur lancé avec succès\",\n  \"data\": {\n    \"router\": \"MainRouter\",\n    \"ip_address\": \"192.168.88.1\",\n    \"status\": \"Reboot command sent\"\n  }\n}\n```", "parameters": [{"name": "slug", "in": "path", "description": "Slug unique du routeur à redémarrer", "required": true, "type": "string"}], "responses": {"200": {"description": "Succèss", "examples": {"application/json": {"error": false, "message": "Redémarrage du routeur lancé avec succès", "data": {"router": "MainRouter", "ip_address": "192.168.88.1", "status": "Reboot command sent"}}}}, "404": {"description": "Routeur introuvable"}, "500": {"description": "Erreur lors du redémarrage du routeur"}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/routers/{slug}/resources/": {"get": {"operationId": "partner_routers_resources_list", "summary": "🔍 Récupérer les ressources système d’un routeur", "description": "Cette API permet de **récupérer toutes les informations du système** d’un routeur MikroTik associé au partenaire actuellement connecté.\n\nElle vérifie les permissions et l’association du routeur avant d’effectuer l’opération.\n\n**Réponse de succès :**\n- Nom du routeur\n- Adresse IP\n- Version\n- Uptime\n- Mémoire libre / totale\n- CPU, charge CPU\n- Espace disque\n- Et d'autres informations système disponibles", "parameters": [{"name": "slug", "in": "path", "description": "Slug unique du routeur dont on veut récupérer les ressources", "required": true, "type": "string", "example": "tiknet-africa-router"}], "responses": {"200": {"description": "Ressources système récupérées avec succès", "examples": {"application/json": {"statusCode": 200, "error": false, "message": "System resources retrieved successfully from Tiknet Africa.", "data": {"uptime": "2h5m19s", "version": "7.12.1 (stable)", "board-name": "hAP ac^2", "free-memory": "59.2MiB", "total-memory": "128.0MiB", "cpu": "ARM", "cpu-count": 4, "cpu-frequency": 448, "cpu-load": 1, "free-hdd-space": "940.0KiB", "total-hdd-space": "15.2MiB", "retrieved_at": "2025-11-04T13:10:00.123456"}, "exception": ""}}}, "403": {"description": "Aucun partenaire trouvé ou accès refusé"}, "404": {"description": "Routeur introuvable ou non associé"}, "500": {"description": "Erreur interne ou échec de récupération"}}, "tags": ["Partner - Router"]}, "parameters": [{"name": "slug", "in": "path", "required": true, "type": "string"}]}, "/partner/sessions/active/": {"get": {"operationId": "partner_sessions_active_list", "summary": "Lister les connexions actives des routeurs", "description": "Permet à un **Partenaire** ou un **Administrateur** ayant la permission `setting-access` de récupérer la liste des connexions actives sur les routeurs.\n\n**Filtre optionnel :**\n`router_slug` : permet de filtrer les connexions pour un seul routeur.\n\n**Exemples :**\n- `/sessions/active/` → tous les routeurs\n- `/sessions/active/?router_slug=myrouter` → un seul routeur", "parameters": [{"name": "router_slug", "in": "query", "description": "Slug du router à filtrer", "required": false, "type": "string"}], "responses": {"200": {"description": "Connexions actives récupérées avec succès"}, "404": {"description": "Aucun routeur actif trouvé"}, "500": {"description": "Erreur interne du serveur"}}, "tags": ["Partner - Router"]}, "parameters": []}, "/partner/sessions/disconnect/": {"post": {"operationId": "partner_sessions_disconnect_create", "summary": "Déconnexion d'une session active sur un routeur MikroTik", "description": "Permet à un **Administrateur** ou un **Partenaire** de déconnecter un utilisateur actif sur un routeur MikroTik.\n\n**Paramètres requis :**\n- `username` (string) : Nom d’utilisateur connecté\n- `mac_address` (string) : Adresse MAC de l’utilisateur\n- `ip_address` (string) : Adresse IP attribuée à l’utilisateur\n- `dns_name` (string) : Nom DNS du routeur concerné\n\n**Fonctionnement :**\n1. Vérifie si une session active correspond aux paramètres fournis.\n2. Envoie une requête RADIUS *Disconnect-Request* via **radclient**.\n3. Supprime la session via l’API MikroTik pour garantir la déconnexion.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/DisconnectUser"}}], "responses": {"200": {"description": "Utilisateur déconnecté avec succès", "examples": {"application/json": {"error": false, "message": "User disconnected successfully.", "data": {"username": "john", "mac_address": "AA:BB:CC:DD:EE:FF", "ip_address": "192.168.1.10", "router_dns_name": "ap-cafe"}}}}, "400": {"description": "Erreur de validation des données d'entrée"}, "403": {"description": "Accès refusé"}, "404": {"description": "Routeur introuvable ou aucune session active correspondante"}, "500": {"description": "Erreur interne lors de la déconnexion"}}, "tags": ["Partner - Router"]}, "parameters": []}, "/partner/shared-users/create/": {"post": {"operationId": "partner_shared-users_create_create", "summary": "Création d'une option de shared users", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer une option de shared users.\n\n**Paramètre requis :**\n- `value (integer)` : Valeur de shared users (Ex: 1, 2, 3, 4, 5, etc.)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SharedUsersOption"}}], "responses": {"201": {"description": "Option de shared users créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Shared Users"]}, "parameters": []}, "/partner/shared-users/list/": {"get": {"operationId": "partner_shared-users_list_list", "summary": "Récupère la liste des options de shared users.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de shared users.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Shared Users"]}, "parameters": []}, "/partner/shared-users/{id}/": {"get": {"operationId": "partner_shared-users_read", "summary": "Récupérer une option de shared users", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de shared users spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de shared users récupérée avec succès", "schema": {"$ref": "#/definitions/SharedUsersOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Shared Users"]}, "put": {"operationId": "partner_shared-users_update", "summary": "Modifier complètement une option de shared users", "description": "Permet de **mettre à jour tous les champs** d’une option de shared users associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SharedUsersOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Shared Users"]}, "patch": {"operationId": "partner_shared-users_partial_update", "summary": "Modifier partiellement une option de shared users", "description": "Permet de mettre à jour **seulement certains champs** d’une option de shared users du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/SharedUsersOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Shared Users"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/shared-users/{id}/delete/": {"delete": {"operationId": "partner_shared-users_delete_delete", "summary": "Supprime une option de shared users.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de shared users.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Shared Users"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/subscription-plans/check/": {"get": {"operationId": "partner_subscription-plans_check_list", "summary": "Récupérer l'état de l'abonnement actif du partenaire.", "description": "Permet de récupérer l'état de l'abonnement actif du partenaire.", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/Empty"}}}}, "tags": ["Partner - Subscriptions"]}, "parameters": []}, "/partner/subscription-plans/list/": {"get": {"operationId": "partner_subscription-plans_list_list", "summary": "Récupère la liste des subscription plans.", "description": "Permet à un **Partenaire** de récupérer la liste des subscriptions plan", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/SubscriptionPlan"}}}}, "tags": ["Partner - Subscriptions"]}, "parameters": []}, "/partner/subscription-plans/purchase/": {"post": {"operationId": "partner_subscription-plans_purchase_create", "summary": "Souscrire à un plan d'abonnement.", "description": "Permet à un **Partenaire** de souscrire à un plan d'abonnement", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/PurchaseSubscription"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/PurchaseSubscription"}}}, "tags": ["Partner - Subscriptions"]}, "parameters": []}, "/partner/token/check/": {"get": {"operationId": "partner_token_check_list", "summary": "Vérifier so le token JWT est valide", "description": "Permet à un **partenaire** ou à un **collaborateur** de vérifier si le access token est toujours valide.", "parameters": [], "responses": {"200": {"description": "Token est valide"}, "400": {"description": "Access token manquant"}, "401": {"description": "Access token invalide ou expiré"}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/token/refresh/": {"post": {"operationId": "partner_token_refresh_create", "summary": "Rafraîchir le token JWT", "description": "Permet à un **partenaire** ou à un **collaborateur** de générer un nouveau access token en utilisant un refresh token valide. Renvoie également les informations utilisateur.\n\n**Paramètre requis :**\n- `refresh` : Refresh token JWT valide (Ex: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9....)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"required": ["refresh"], "type": "object", "properties": {"refresh": {"description": "Refresh token JWT valide", "type": "string", "example": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."}}}}], "responses": {"200": {"description": "Token rafraîchi et données utilisateur renvoyées"}, "400": {"description": "Refresh token manquant"}, "401": {"description": "Refresh token invalide ou expiré"}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/validity/create/": {"post": {"operationId": "partner_validity_create_create", "summary": "Création d'une option de validité", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de créer une option de validité.\n\n**Paramètre requis :**\n- `value (integer)` : Valeur de la durée de validité (Ex: 30m, 1h, 1d, 7d, etc.)", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidityOption"}}], "responses": {"201": {"description": "Option de validité créé avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé ou partenaire non trouvé"}}, "tags": ["Partner - Config: Validity"]}, "parameters": []}, "/partner/validity/list/": {"get": {"operationId": "partner_validity_list_list", "summary": "Récupère la liste des options de validité.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de récupérer options de validité.\n\n", "parameters": [], "responses": {"200": {"description": ""}}, "tags": ["Partner - Config: Validity"]}, "parameters": []}, "/partner/validity/{id}/": {"get": {"operationId": "partner_validity_read", "summary": "Récupérer une option de validité", "description": "Permet à un **Partenaire** ou un **Administrateur** de récupérer une option de validité spécifique appartenant au partenaire connecté.", "parameters": [], "responses": {"200": {"description": "Option de validité récupérée avec succès", "schema": {"$ref": "#/definitions/ValidityOption"}}, "404": {"description": "Option introuvable"}, "403": {"description": "Accès refusé"}}, "tags": ["Partner - Config: Validity"]}, "put": {"operationId": "partner_validity_update", "summary": "Modifier complètement une option de validité", "description": "Permet de **mettre à jour tous les champs** d’une option de validité associée au partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidityOption"}}], "responses": {"200": {"description": "Option mise à jour avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Validity"]}, "patch": {"operationId": "partner_validity_partial_update", "summary": "Modifier partiellement une option de validité", "description": "Permet de mettre à jour **seulement certains champs** d’une option de validité du partenaire.", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/ValidityOption"}}], "responses": {"200": {"description": "Option mise à jour partiellement avec succès"}, "400": {"description": "Erreur de validation"}, "403": {"description": "Accès refusé"}, "404": {"description": "Option introuvable"}}, "tags": ["Partner - Config: Validity"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/validity/{id}/delete/": {"delete": {"operationId": "partner_validity_delete_delete", "summary": "Supprimer une option de validité.", "description": "Permet à un **Partenaire** ou à un **Administrateur** ayant la permission `setting-access` de supprimer une option de validité.\n\n", "parameters": [], "responses": {"204": {"description": ""}}, "tags": ["Partner - Config: Validity"]}, "parameters": [{"name": "id", "in": "path", "required": true, "type": "string"}]}, "/partner/verify-email-otp/": {"post": {"operationId": "partner_verify-email-otp_create", "summary": "Vérification d'addresse email du partner par code OTP.", "description": "Permet à un **Partenaire** ou à un **Administrateur** de vérifier son addresse email par code OTP", "parameters": [{"name": "data", "in": "body", "required": true, "schema": {"$ref": "#/definitions/VerifyEmailOtp"}}], "responses": {"201": {"description": "", "schema": {"$ref": "#/definitions/VerifyEmailOtp"}}}, "tags": ["Partner - Auth"]}, "parameters": []}, "/partner/wallet/all-transactions/": {"get": {"operationId": "partner_wallet_all-transactions_list", "summary": "Récupère toutes les transactions du partenaire sans filtre ni tri.", "description": "Retourne la liste complète des transactions du partenaire connecté, avec les totaux calculés (montant total, revenus, paiements).", "parameters": [], "responses": {"200": {"description": "", "schema": {"type": "array", "items": {"$ref": "#/definitions/WalletTransaction"}}}}, "tags": ["Partner - Wallet"]}, "parameters": []}, "/partner/wallet/balance/": {"get": {"operationId": "partner_wallet_balance_read", "summary": "Récupère le solde du wallet du partner", "description": "Retourne le solde du wallet du partner.", "parameters": [], "responses": {"200": {"description": "", "schema": {"$ref": "#/definitions/Empty"}}}, "tags": ["Partner - Wallet"]}, "parameters": []}, "/partner/wallet/transactions/": {"get": {"operationId": "partner_wallet_transactions_list", "summary": "Récupère les transactions du partenaire connecté avec filtres, recherche et pagination.", "description": "Retourne la liste complète des transactions du partenaire connecté, avec filtres (status, type, période), recherche et pagination.", "parameters": [{"name": "search", "in": "query", "description": "Recherche (référence, statut, montant...)", "type": "st
[...]
